.TaskForm {
  margin-top: 20px;
}

.TaskForm form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.TaskForm label {
  margin-bottom: 5px;
}

.TaskForm input {
  margin-bottom: 10px;
  padding: 5px;
}

.TaskForm button {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
}

/*  */
